# This is Git's per-user configuration file.
[user]
    name = Jakub Koci
    email = jakub.koci@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[github]
    user = jakubkoci
[push]
    default = current
[pull]
    ff = only
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    l = log
    a = add
    aa = add --all
[init]
    defaultBranch = main
